/** mobile first min width **/

nav {
    background: black;
    color: white;
    font-size: 100px;
}

section {
    background: red;
    font-size: 100px;
    border: 10px black;
}

body {
    background: blue;
    font-size: 100px;
}

footer {
    background: green;
    font-size: 100px;
}