$colors: (
    "primary": #9356DC,
    "secondary": #FF79DA,
    "tertiary": #99E2D0,
    "tertiary-text": #008766,
    "backdrop": #F6F6F6,
    "darker-backdrop": #EAEAEA,
    "footer-backdrop": #353535
);

$fonts: (
    "title": Shrikhand,
    "text": Roboto
);

@mixin remove-button-style {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin whiteFilter {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(114deg) brightness(106%) contrast(101%);
}

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin button-gradient {
    background: linear-gradient(to top, map-get($colors, primary),map-get($colors, secondary));
}

@mixin shadow {
    box-shadow:2px 4px 10px 0 rgba(0, 0, 0, 0.2);
}

@mixin homepage-title {
    font-family: map-get($fonts, text);
    font-size: 22px;
    font-weight: 500;
}