@import 'config';

.return-button {
    display:none;
} 

.chosen-location {
    @include flexCenter(row);
    background: map-get($colors, darker-backdrop);
    padding: 15px; 
    font-family: map-get($fonts, text);
    font-size: 14px;
}

.fa-map-marker-alt {
    padding-right: 10px;
    color: #353535;
}

.slogan-and-explore {
    @include flexCenter(column);
    justify-content: space-around;
    height: 200px;
    padding: 20px 0 40px;
}

.slogan-big {
    font-family: map-get($fonts, text);
    font-size: 22px;
    font-weight: 500;
}

.slogan-small {
    font-family: map-get($fonts, text);
    font-weight: 200;
    text-align: center;
}

.explore-button {
    @include button-gradient;
    @include shadow;
    border: none;
    border-radius: 25px;
    color: white;
    font-family: map-get($fonts, text);
    padding: 15px 10px 15px 10px;
    width: 60%;
}

.instructions-section {
    background: white;
    display: flex;
    flex-direction: column;
    height: 400px;
}

.instructions-title {
    font-family: map-get($fonts, text);
    font-size: 22px;
    font-weight: 500;
    padding-top: 40px;
    padding-left: 20px;
}

.steps-master-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 270px;
    padding-top: 15px;
}

.step-number-and-text-container {
    @include flexCenter(row); 
}

.step-number {
    @include flexCenter(row);
    background-color: map-get($colors, primary );
    border: 2px solid map-get($colors , primary);
    border-radius: 50px;
    color: white;
    font-family: map-get($fonts, text );
    font-size: 13px;
    transform: translate(13px);
    width: 18px;
    height: 18px;
}

.step-content-container {
    @include shadow;
    background: map-get($colors, backdrop);
    border-radius: 20px;
    display: flex;
    font-family: map-get($fonts, text);
    font-size: 15px;
    font-weight: 450;
    height: 70px;
    width: 280px;
}

.step-text {
    align-self: center;
}

.fa-mobile, .fa-list, .fa-shop {
    padding: 0 20px 0 30px;
    align-self: center;
}

.fa-mobile, .fa-list {
    color: grey;
}
.fa-shop {
    color: map-get($colors, primary )
}


