@import 'config';

@function color($color-name) {
    @return map-get($colors, $color-name);
}

html {
    background:map-get($colors, backdrop);
}

body {
    @include reset;
}

header {
    background: white;
    padding: 20px 8px 10px;
}

.logo-container {
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 27px;
}

.return-button {
    @include remove-button-style;
    margin-left: -20px;
    rotate: 270deg;
}

.footer {
    margin: 0;
    padding: 0;
}

.footer-logo {
    @include whiteFilter;
    height: 16px;
    padding-bottom: 15px;
}

.footer-content {
    background: map-get($colors, footer-backdrop);
    padding: 20px;
    color: white;
    font-family: map-get($fonts, text);
    font-size: 15px;
    font-weight: 350;
}

.footer-line {
    padding: 3px;
}

.fa-cutlery {
    padding-right: 12px;
}

.fa-handshake {
    padding-right: 10px;
    rotate: 315deg;
}