@import 'config';

@function color($color-name) {
    @return map-get($colors, $color-name);
}

header {
    padding: 20px;
}

.logo-container {
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 30px;
}

.return-button {
    @include remove-button-style;
    margin-left: -20px;
    rotate: 270deg;
}

