@import 'config';

html {
    background:color(backdrop);
}

body {
    @include reset;
}

header {
    @include flexCenter(row);
    @include fade-in-animation-fast;
    background: white;
    padding: 20px 50px 10px 10px;
    position: relative;
    z-index: 1;
}

.return-button {
    @include flexCenter(row);
    @include remove-button-style;
    color: #101010;
    rotate: 270deg;
    scale: 0.9;
    transform: translate(0px, -150px);
    &:hover {
        @include fa-icon-add-gradient;
    }
}

.logo-container {
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 27px;
}

.btn {
    @include button-gradient-background;
    @include btn-static;
    cursor: pointer;
    &:hover{
        @include btn-hover-effect
    }
}

.footer {
    margin: 0;
    padding: 0;
}

.footer-logo {
    @include whiteFilter;
    height: 16px;
    padding-bottom: 15px;
}

.footer-content {
    background: color(footer-backdrop);
    padding: 20px;
    color: white;
    font-family: font(text);
    font-size: 15px;
    font-weight: 350;
}

.footer-line {
    padding: 3px;
    cursor: pointer;
    &:hover {
        font-weight: bold;
    }
}

.email-button {
    @include remove-button-style;
    &:hover {
        font-weight: bold;
    }
}

.fa-cutlery {
    padding-right: 12px;
}

.fa-handshake {
    padding-right: 10px;
    rotate: 315deg;
}